@import url('fonts.css');

:root {
  --ev-outer: #00a6d7;
  --ev-inner: #30e7ed;
  --ev-link-active-filter: brightness(120%);
  --links: #ffcc66;
  --links-filter: invert(91%) sepia(99%) saturate(7482%) hue-rotate(310deg) brightness(105%) contrast(101%);
  --links-active: #f27983;
  --links-active-filter: invert(73%) sepia(53%) saturate(1434%) hue-rotate(301deg) brightness(98%) contrast(115%);
  --bg: #1f242a;
  --text: #d3d4d6;
  --text-filter: invert(84%) sepia(1%) saturate(352%) hue-rotate(182deg) brightness(80%) contrast(95%);
  --tags: #73d0ff;
  --card-bg: #2a2f35;
  --text-secondary: #9ca3af;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.3;

  /* Help for OSX browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BASIC SETUP */

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  padding-bottom: 40px;
  margin: 1em;
  margin-top: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--links);

  &:hover {
    color: var(--links-active);
  }

  img {
    filter: var(--links-filter);

    &:hover {
      filter: var(--links-active-filter);
    }
  }
}

/* TOP NAV */
nav {
  display: flex;
  justify-content: space-between;
  font-family: "Cascadia";
  margin: 1em 0;

  img {
    width: 2em;
    height: 2em;
  }

  h1 {
    color: var(--ev-outer);
  }

  header a {
    img {
      filter: none;
    }

    &:hover {
      h1 {
        color: var(--ev-inner);
      }
      img {
        filter: var(--ev-link-active-filter);
      }
    }
  }

  header a,
  #social {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #social a img {
    display: block;
    filter: var(--text-filter);

    &:hover {
      filter: var(--links-active-filter);
    }
  }
}

/* CARDS */
main {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

article {
  flex: 1 1 15em;
  font-size: small;
  background-color: var(--card-bg);
  border-radius: 0.5em;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  }

  .tags,
  .created,
  .updated {
    font-size: 0.9em;
  }

  .tags,
  .updated {
    margin-bottom: 0.5em;
  }

  .tags {
    text-transform: uppercase;
    color: var(--ev-outer);
    word-spacing: 0.3em;
  }

  h3 {
    font-size: 1.7em;
    font-weight: lighter;
    line-height: 1.1;
    margin-bottom: 0.1em;
  }

  .created,
  .updated {
    color: var(--text-secondary);
  }

  .intro {
    color: var(--text);
  }
}
