<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav>
      <header>
        <a href="/">
          <img src="/images/electricvisions.svg">
          <h1>Electric Visions</h1>
        </a>
      </header>
      <ul id="social">
        <li><a href="/matter.html"><img src="/images/matter-mono.svg"></a></li>
        <li><a href="https://github.com/PhilT"><img src="/images/github.svg"></a></li>
        <li>
          <a href="https://www.linkedin.com/in/phil-a-thompson-83b64a2/">
            <img src="/images/linkedin.svg">
          </a>
        </li>
      </ul>
    </nav>

    <p>
      {intro}
    </p>

    <main>
      {posts}
    </main>
  </body>
</html>
